.mx-auto {
    width: 800px;
}

.card {
    margin-top: 10px;
}

.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu {
    box-sizing: content-box;
}

.note-editor .note-modal-footer {
    box-sizing: content-box;
}
a {
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
}

